# IDE config files
.idea/

# profiling data
prof/

#compiled files
*.pyc
__pycache__/
*.egg-info/
.cache/

# coverage files
.coverage*

# documentation files
docs/source/
docs/_build/

# files for PyPI
README.rst

#temp Excel files
.~lock.*.xlsx#
.~lock.*.xls#
~$*.xlsx
~$*.xls

# mac DS files
.DS_Store
