# description
include README.rst

# license
include LICENSE

# requirements
include requirements.txt

# grammars
recursive-include wc_lang/grammar *.lark

# configuration files
recursive-include wc_lang *.cfg

# examples
recursive-include examples
