# nested requirements whose sources must be explictly stated for Read the Docs
git+https://github.com/KarrLab/log.git#egg=log-2016.10.12 # >= 2016.10.12
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.1a5  # wc modeling utilities
git+https://github.com/KarrLab/obj_model.git#egg=obj_model-0.0.5
git+https://github.com/KarrLab/wc_kb.git#egg=wc_kb-0.0.1

cement
enum34
natsort
networkx
python_libsbml >= 5.16.0
setuptools
six

configparser
robpol86_sphinxcontrib_googleanalytics
sphinx >= 1.7
sphinx_rtd_theme
sphinxcontrib_bibtex
sphinxcontrib_spelling
